@import "./reset.css";

/* screens */
@import "./screens/header.css";
@import "./screens/weather.css";
@import "./screens/todo-form.css";
@import "./screens/quote.css";
.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  opacity: 0.9;
}

/* header article main footer  */
